<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIY Couples Therapy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="text-white">
    <div class="container-fluid text-center my-5">
        <h1>Submit your suggestions</h1>
        <p>Give some advice to others in need!</p>
        <form method="post" class="mt-5 mx-auto" style="max-width: 300px;">
            <div class="mb-3">
                <label for="name" class="form-label">First name</label>
                <input type="text" class="form-control text-white" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="suggestion" class="form-label">Your suggestion</label>
                <textarea class="form-control text-white" rows="3" maxlength="255" id="suggestion" name="suggestion" required></textarea>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="category" required>
                    <option selected disabled hidden></option>
                    {% for love_language in love_languages %}
                        <option value="{{ love_language.id }}">{{ love_language.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Link <span class="text-secondary">(optional)</span></label>
                <input type="text" class="form-control text-white" id="url" name="url">
            </div>
            <div class="row g-2 mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-outline-light d-block w-100">Submit</button>
                </div>
                <div class="col">
                    <a role="button" href="/" class="btn btn-outline-secondary d-block w-100">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

