<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIY Couples Therapy</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Welcome to DIY Couples Therapy!</h1>
<p>Please complete the love languages quiz and then click on your love language to generate a suggestion.</p>
<br>
<p> <a role="button" href="https://5lovelanguages.com/quizzes/love-language" class="btn btn-success btn-lg">Click here to complete the love languages quiz</a></p>
<p> <a role="button" href="/suggestion-woa/" class="btn btn-danger">Words of affirmation</a></p>
<p> <a role="button" href="/suggestion-aos/" class="btn btn-danger">Acts of service</a></p>
<p> <a role="button" href="/suggestion-gifts/" class="btn btn-danger">Gifts</a></p>
<p> <a role="button" href="/suggestion-time/" class="btn btn-danger">Quality time</a></p>
<p> <a role="button" href="/suggestion-touch/" class="btn btn-danger">Physical touch</a></p>

<br>
<h1>Comments section</h1>
<form action=“DIYCouplesTherapy.com”>
 <p><label for=“NotesSection”>What was your love language?</label></p>
 <textarea id=“NotesSection” name=“NotesSection” rows=“100” cols=“100">Please enter your notes here regarding your love language.</textarea>
 <br>
<p> <a role="button" href="/suggestion-touch/" class="btn btn-success">Submit</a></p>
</form>

</body>
</html>